#welcome {
  display: flex;
  position: relative;
}

#cringyPic {
  width: 100%;
  height: 100%;
  position: relative;
}
#picContainer {
  margin-left: 5vw;
  position: relative;
  width: 25%;
}
#picContainer::after {
  content: "";
  position: absolute;
  width: 2vw;
  height: 100%;
  right: 0;
  top: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

#welcomeText {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: -0.5vw;
  margin-top: 7vw;
}
#welcomeText h1 {
  font-size: max(min(9vw, 9vh), 20px);
  line-height: 2;
  margin: 0;
}
h2 {
  font-size: max(min(7vw, 7vh), 20px);
  margin: 0;
  line-height: 1.2;
}
#bobur {
  color: var(--gold);
}
@media (max-width: 900px) {
  #picContainer {
    width: 60%;
    margin-left: 0;
  }
  #picContainer::after {
    display: none;
  }
  #welcomeText {
    margin-top: 20vw;
    margin-left: -15vw;
  }
  #welcomeText h1 {
    font-size: max(min(7vw, 7vh), 20px);
  }
  #welcomeSpan {
    font-size: max(min(5vw, 5vh), 15px);
  }
}
